.navbar-default {
  background-color: transparent;
  background-image: url(../pictures/header-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0;
  font-family: "Open Sans", Helvetica, sans-serif 
 }

.navbar-default .navbar-header .navbar-brand{
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.navbar-default .navbar-right .navbar-brand{
	color: white;
	font-size: 12px;
	margin: 0 8px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-default .header {
	width: 50%;
    margin: 150px auto;
}

.navbar-default .header h1{
	color: white;
	font-size: 54px;
	font-weight: bold;
}

.navbar-default .header h2{
	color: white;
}

.navbar-default .header h3{
	color: white;
	font-size: 18px;
	font-style: oblique;
	font-family: "Georgia", Times, serif;
}

.story {
	margin: 60px auto 0 auto;
	width: 50%;
	font-size: 15px;
	font-family: "Georgia", Times, serif;
}

.story p {
	padding: 5px 0;
}

.story h4 {
    font-size: 24px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: bold;
    margin: 40px 0 20px 0;
}

.story .quote {
	font-size: 13px;
	color: darkgray;
	font-style: oblique;
	padding: 0 0 0 20px;
	border-style: solid;
	border-width: 0 0 0 3px;
	border-color: lightgray;
}

.story .caption {
    font-size: 11px;
	color: darkgray;
	font-style: oblique;
	margin: 0 auto;
	text-align: center;
}

.story a:link {
    text-decoration: underline;
	color: black;
}

.story a:hover {
	color: lightblue;
}

img {
    max-width: 100%;
    max-height: 100%;
}