.navbar-default {
  background-color: transparent;
  background-image: url(http://blackrockdigital.github.io/startbootstrap-clean-blog/img/post-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0;
  font-family: "Open Sans", Helvetica, sans-serif 
 }

.navbar-default .navbar-header .navbar-brand{
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.navbar-default .navbar-right .navbar-brand{
	color: white;
	font-size: 12px;
	margin: 0 8px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-default .header {
    margin: 150px 350px 150px 220px
}

.navbar-default .header h1{
	color: white;
	font-size: 54px;
	font-weight: bold;
}

.navbar-default .header h2{
	color: white;
}

.navbar-default .header h3{
	color: white;
	font-size: 18px;
	font-style: oblique;
	font-family: "Georgia", Times, serif;
}